[submodule "deps/volk"]
	path = deps/volk
	url = https://github.com/zeux/volk
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "deps/cutils"]
	path = deps/cutils
	url = https://github.com/kosude/cutils
[submodule "deps/mini"]
	path = deps/mini
	url = https://github.com/metayeti/mINI
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
